.animated-button {
    background-color: #16665d; /* Color inicial */
    color: white; /* Color del texto inicial */
    border: none;
    padding: 12px 24px;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Animación de transición */
    font-size: 16px;
    font-weight: bold;
}

.animated-button:hover {
    background-color: #0BA675; /* Color de fondo al pasar el ratón */
    color: black; /* Color del texto al pasar el ratón */
    box-shadow: 0 0.625em 1.5em 0 rgba(33, 220, 98, 0.35); /* Sombra adicional al pasar el ratón */
}
